@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ag-odd-row-background-match-color: 152, 55%, 94%, 1;
    --ag-background-match-color: 138, 76%, 97%, 1;
    --ag-row-background-wrong-color: 0, 100%, 95%, 1;
    --overlay: 240, 12%, 36%, 0.48;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 212 82% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215, 13%, 54%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --radius: 0.5rem;

    --inspectorViewWidth: 600px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
  }
}

@layer base {
  body {
    @apply h-screen w-screen overflow-hidden bg-background text-foreground;
  }
}

.row-inspector-view {
  box-shadow: 0px 0px 40px 0px #2b1a5c14;
  transition: transform 0.3s ease-in-out;
  display: none;
}

.row-inspector-view-active {
  display: flex;
  transform: translateX(0);
}

.small-dataset-table-view {
  max-width: calc(100% - var(--inspectorViewWidth));
}
