.ag-theme-alpine {
  --ag-header-background-color: theme(colors.gridHeaderColor);
  --ag-data-color: theme(colors.agDataColor);
  --ag-range-selection-border-color: theme(colors.gridBorderColor);
}
.ag-theme-dataset-list {
  --ag-foreground-color: theme(colors.gridCellTextColor);
  --ag-header-foreground-color: theme(colors.gridHeaderTextColor);
  --ag-odd-row-background-color: theme(colors.white);
  --ag-row-border-width: 0px;
  --ag-border-color: theme(colors.gridBorderColor);
  --ag-border-radius: 12px;
}
.ag-theme-dataset-list .ag-header-row {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.ag-theme-experiment-list {
  --ag-foreground-color: theme(colors.gridCellTextColor);
  --ag-header-foreground-color: theme(colors.gridHeaderTextColor);
  --ag-odd-row-background-color: theme(colors.white);
  --ag-row-border-width: 1px;
  --ag-border-color: theme(colors.gridBorderColor);
  --ag-border-radius: 12px;
  --ag-row-height: 69px;
  --ag-line-height: 18px;
}
.ag-theme-experiment-list .ag-header-row {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.ag-theme-dataset {
  --ag-row-height: 92px;
  --ag-line-height: 22px;
  --ag-border-color: theme(colors.gridBorderColor);
  --ag-odd-row-background-color: theme(colors.gridHeaderColor);
  --ag-cell-border-width: 2px;
  --ag-cell-horizontal-border: solid theme(colors.gridBorderColor);
  --ag-header-foreground-color: theme(colors.slateGray700);
}
.ag-theme-dataset .ag-header-row {
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
}

.ag-theme-dataset .ag-floating-bottom,
.ag-theme-dataset .ag-floating-bottom .ag-cell {
  min-height: 55px !important;
}
.ag-body-horizontal-scroll {
  bottom: 0 !important;
}

.ag-theme-dataset .ag-cell {
  @apply line-clamp-4 whitespace-normal;
}

.ag-row {
  cursor: pointer;
}

.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-viewport {
  min-height: unset;
}

.ag-row > .ag-cell.predictiveLabelCell.noMatch {
  @apply bg-agWrongLabelColor;
}
.ag-row > .ag-cell.predictiveLabelCell.match {
  @apply bg-agOddGroundMatch;
}

.ag-pinned-right-floating-bottom,
.ag-pinned-right-header,
.ag-pinned-right-cols-container {
  box-shadow: rgb(0, 0, 0) 5px 0px 15px 1px;
}

.ag-cell-wrapper,
.ag-cell-wrapper > span {
  height: 100%;
}

.ag-cell[col-id='fakeId'] {
  padding-left: 0;
  padding-right: 0;
}
